.container{
    margin-bottom: 50px;
}
.header-part{
    background-color: #F0FFF0;
}
.sign-btn{
    background-color: #21B573;
    color: white;
    border-radius: 20px;
    width: 100px;
    padding: 10px;
    text-decoration: none;
}
.sign-btn:hover{
    text-decoration: none;
    color: white;
}
.get-start-btn{
    background-color: #21B573;
    color: white;
    border-radius: 20px;
    width: 110px;
    height: 40px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}
.get-start-btn:hover{
    text-decoration: none;
    color: white;
}
.learn-with-fun h5{
    color: orange;
}
.learn-with-fun h1{
    font-size: 55px;
    font-weight: bold;
   
}
.learn-with-fun span{
    color: #21B573;
}
.learn-anything{
    background-color: #F8FFFB;
}
.online-courses{
    color: #413960;
}
.online-courses-body h5{
    color: #413960;
}
.bg-footer{
    background-color: #282531;
}
.bg-footer p{
    color: white;
}
.footer-left-content{
    padding-left: 50px;
}
.footer li{
    list-style-type: none;
}
.footer li a{
    text-decoration: none;
    color: white;
}
.footer-row{
    padding: 55px;
}